/* custom properties */
:root {
  --clr-dark: 230 35% 7%;
  --clr-accent: 231 77% 90%;
  --clr-white: 0 100% 100%;

  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.123rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  background: hsl(var(--clr-dark) / 1);
  color: hsl(var(--clr-white));
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* utility */
.flow > :not(:last-child) {
  margin-bottom: var(--flow, 1rem);
}
.flex {
  display: flex;
  gap: var(--gap, 1em);
}

.grid {
  display: grid;
  gap: var(--gap, 1em);
}

.container {
  margin-inline: auto;
  padding-inline: 2em;
  max-width: 80rem;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-item {
  flex: var(--grow, 1) var(--shrink, 1) var(--base, auto);
}

.grid-col-2 {
  grid-template-columns: var(--col1, 1fr) var(--col2, 1fr);
}
.grid-col-3 {
  grid-template-columns: var(--col1, 1fr) var(--col2, 1fr) var(--col3, 1fr);
}

.box {
  background-color: lightblue;
  padding: 3rem;
}

/* colors */
.bg-dark {
  background: hsl(var(--clr-dark));
}

.bg-accent {
  background: hsl(var(--clr-accent));
}

.bg-white {
  background: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-accent));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}
/* components */
.example-component {
  background: hsl(var(--clr-accent) / 0.2);
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.5px;
}

.numbered-title > span:first-child {
  color: hsl(var(--clr-white) / 0.25);
  font-weight: 700;
  margin-right: 0.5em;
}

.large-button {
  display: grid;
  position: relative;
  z-index: 1;
  padding: 0 2em;
  aspect-ratio: 1;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
}

.large-button::after {
  content: "";
  position: absolute;
  background: hsl(var(--clr-white) / 0.25);
  border-radius: 50%;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity 1000ms ease-in-out, transform 500ms ease-in-out;
}

.large-button:hover::after {
  opacity: 1;
  transform: scale(1.5);
}

.primary-navigation {
  --gap: 8rem;
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation span {
  margin-right: 1rem;
  font-weight: 700;
}

.underline-indicators > * {
  padding: var(--underline-gap, 1rem) 0;
  border-bottom: 0.2rem hsl(var(--clr-white) / 0) solid;
}
.underline-indicators > *.active {
  border-color: hsl(var(--clr-white));
}
.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--clr-white) / 0.25);
}
